<div class="admin-container">
<div class="page-header"><h1>Profiles</h1></div>
	<div class="download-form">
	<div class="download-form-title">Download Selected</div> Sorted by:
	<%= form_tag(combined_selected_path, method: "get", class: "selected-form") do %>
			<select name="selected">
		<option value="">Select</option>

		<option value="first_name">First Name</option>
		
		<option value="last_name">Last Name</option>
		
		<option value="university">University</option>
		
		<option value="graduation_year">Graduation Year</option>
		
		<option value="company">Company</option>
		
		<option value="current_location">Location</option>
		
		<option value="gender">Gender</option>
		
		<option value="start_date_pe">Start Date</option>
		</select>
		<%= submit_tag("Download Selected", class: "download-button") %>
	<% end %>
		<!-- <a class="destroy-selected" href="/destroy_selected">Delete selected</a> -->

	</div>
	<table id="table_id">
	  <thead>
		  <tr>
			  <th>ID</th>
		    <th>First Name</th>
		    <th>Last Name</th> 
		    <th>University</th>
		    <th>Graduation Year</th>
		    <th>Company</th>
		    <th>Current Location</th>
		    <th>Current Region</th>
		    <th>Gender</th>
		    <th>Start Date with Current Firm</th>
		    <th>Preferred PE Start Date</th>
		    <th>Industry Preference (First)</th>
		    <th>Industry Preference (Second)</th>
		    <th>Industry Preference (Third)</th>
		    <th>Submitted At</th>
		    <th>Resume</th>
		    <th>Edit</th>
		    <th>Delete</th>
		  </tr>
	  </thead>
	  <tbody>
			<%= render @profiles %>
		</tbody>
	</table>
	
</div>