<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<body id="page-top" class="index">

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Private Equity Association of Chicago</div>
                <a href="#about" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">About PEA Chicago</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Overview</h4>
                    <p class="text-muted">The Private Equity Association of Chicago (PEAC) is the premier professional organization for pre-MBA private equity professionals in Chicago. PEAC is affiliated with the Private Equity Association, a growing national organization that includes chapters in Boston, Los Angeles and San Francisco.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mission</h4>
                    <p class="text-muted">The desired outcome of our organization is to foster an environment where young private equity professionals can learn from each other’s experiences, share industry knowledge and discuss career matters through social, educational and civic service oriented events.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Funding</h4>
                    <p class="text-muted">The Private Equity Association of Chicago is a non-profit organization that has traditionally been funded mainly via generous corporate sponsorships. PEAC greatly appreciates their continued support and therefore seeks to deliver commensurate value in educational, social and civic service opportunities to our members.

</p>
                </div>
            </div>
        </div>
    </section>
    <section id="activities">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Activities and Programs</h2>
                    <h3 class="section-subheading text-muted">A variety of educational, career oriented and social events for our members</h3>
                    <ul class="activities-list">
                        <li>Annual MBA Forum which includes a panel discussion among admissions representatives from top business schools</li>
                        <li>Civic service fair which presents members with various volunteer opportunities in and around the Chicago area</li>
                        <li>Continuing Education Events for our members to discuss the opportunities and challenges that the industry is currently facing and to teach various skills to aid in the evaluation of investment opportunities</li>
                        <li>Social events where members can form and cultivate relationships with other young professionals in the industry</li>
                    </ul>
                </div>
            </div>
           
        </div>
    </section>
    <section id="board" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Board of Directors</h2>
                    <h3 class="section-subheading text-muted">Private Equity Association of Chicago Board of Directors</h3>
                        <p><span class="board-member-name">Alex Lieberman</span><span class="firm-name">RoundTable Healthcare Partners</span></p>
                        <p><span class="board-member-name">Markie Westwood</span><span class="firm-name">Frontenac</span></p>
                        <p><span class="board-member-name">Chris Oberhaus</span><span class="firm-name">Baird Capital</span></p>
                        <p><span class="board-member-name">John Brownschidle</span><span class="firm-name">Baird Capital</span></p>
                        <p><span class="board-member-name">Josh Schoenfelder</span><span class="firm-name">Arbor Investments</span></p>
                        <p><span class="board-member-name">Peter Leemputte</span><span class="firm-name">Wind Point Partners</span></p>
                        <p><span class="board-member-name">Colin Keeler</span><span class="firm-name">Sterling Partners</span></p>
                        <p><span class="board-member-name">Steven Drake</span><span class="firm-name">Wynnchurch Capital</span></p>
                        <p><span class="board-member-name">Calvin Liou</span><span class="firm-name">Madison Dearborn Partners</span></p>
                        <p><span class="board-member-name">Chris Scherer</span><span class="firm-name">Madison Dearborn Partners</span></p>
                        <p><span class="board-member-name">Ellis Krienik</span><span class="firm-name">Wind Point Partners</span></p>
                        <p><span class="board-member-name">Jonathan Skekloff</span><span class="firm-name">GTCR</span></p>
                        <p><span class="board-member-name">Ashley Edwards</span><span class="firm-name">Victory Park Capital</span></p>
                </div>
            </div>
           
        </div>
    </section>
    <!-- Portfolio Grid Section -->
    <section id="firms" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Member Firms</h2>
                    <h3 class="section-subheading text-muted">PEAC Member Firms</h3>
                </div>
            </div>
            <div class="flex-container">
                <div class="logo-container"><a href="http://www.adamsstreetpartners.com/"><img src="/assets/logos/asp_logo_print.png" class="img-responsive img-centered" alt="Adam Street Partners"></a></div>
                <div class="logo-container"><a href="http://www.allstateinvestments.com/"><img src="/assets/logos/allstate-investments-logo.png" class="img-responsive img-centered" alt="All-State Investments"></a></div>
                <div class="logo-container"><a href="http://www.arborpic.com/"><img src="/assets/logos/arborinvestments.gif" class="img-responsive img-centered" alt="Arbor Investments"></a></div>
                <div class="logo-container"><a href="http://bairdcapital.com/"><img src="/assets/logos/BairdCapital-logo_rgb_300res.jpg" class="img-responsive img-centered" alt="Baird Capital Partners"></a></div>
                <div class="logo-container"><a href="http://bpoc.com" img class="aligncenter size-full wp-image-1057"><img src="/assets/logos/Beecken.jpg" class="img-responsive img-centered" alt="Beecken Petty O'Keefe &amp; Company"></a></div>
                <div class="logo-container"><img src="/assets/logos/CCI.jpg" class="img-responsive img-centered" alt="CC Industries"></div>
                <div class="logo-container"><a href="http://www.cpfounders.com/"><img src="/assets/logos/chicagopacificfounders.png" class="img-responsive img-centered" alt="Chicago Pacific Founders"></a></div>
                <div class="logo-container"><a href="http://civc.com"><img src="/assets/logos/civc.jpeg" class="img-responsive img-centered" alt="CIVC Partners"></a></div>
                <div class="logo-container"><a href="http://www.driehauspe.com/"><img src="/assets/logos/driehaus.jpg" class="img-responsive img-centered" alt="Driehaus Private Equity"></a></div>
                <div class="logo-container"><a href="http://www.flexpointford.com/"><img src="/assets/logos/flexpoint.jpeg" class="img-responsive img-centered" alt="Flexpoint Ford"></a></div>
                <div class="logo-container"><a href="http://www.frontenac.com/"><img src="/assets/logos/frontenac.png" class="img-responsive img-centered" alt="Frontenac Company"></a></div>
                <div class="logo-container"><a href="http://www.gtcr.com/"><img src="/assets/logos/gtcr.jpg" class="img-responsive img-centered" alt="GTCR"></a></div>
                <div class="logo-container"><a href="http://www.huroncapital.com/"><img src="/assets/logos/huron.jpg" class="img-responsive img-centered" alt="Huron Capital"></a></div>
                <div class="logo-container"><a href="http://www.lasallecapitalgroup.com/"><img src="/assets/logos/lasalle.jpeg" class="img-responsive img-centered" alt="LaSalle Capital Group"></a></div>
                <div class="logo-container"><a href="http://www.mdcp.com/"><img src="/assets/logos/MDP_LOGO_BLK.png" class="img-responsive img-centered" alt="Madison Dearborn Partners"></a></div>
                <div class="logo-container"><a href="http://maranoncapital.com/"><img src="/assets/logos/maranon.jpg" class="img-responsive img-centered" alt="Maranon Capital"></a></div>
                <div class="logo-container"><a href="http://www.newharborcap.com/"><img src="/assets/logos/newharborcapital.png" class="img-responsive img-centered" alt="New Harbor Capital"></a></div>
                <div class="logo-container"><a href="http://www.northwestern.edu/"><img src="/assets/logos/northwestern.png" class="img-responsive img-centered" alt="Northwestern University"></a></div>
                <div class="logo-container"><a href="http://www.prairie-capital.com/"><img src="/assets/logos/prairiecapital.jpg" class="img-responsive img-centered" alt="Prairie Capital"></a></div>
                <div class="logo-container"><a href="https://www.pritzkergroup.com/venture-capital/"><img src="/assets/logos/pritzkerventure.png" class="img-responsive img-centered" alt="Pritzker Venture Capital"></a></div>
                <div class="logo-container"><a href="https://www.pritzkergroup.com/private-capital/"><img src="/assets/logos/PritzkerGroup.png" class="img-responsive img-centered" alt="Pritzker Private Capital"></a></div>
                <div class="logo-container"><a href="http://www.prospect-partners.com/"><img src="/assets/logos/prospect.jpg" class="img-responsive img-centered" alt="Prospect Partners"></a></div>
                <div class="logo-container"><a href="http://www.rcpadvisors.com/"><img src="/assets/logos/rcp.jpg" class="img-responsive img-centered" alt="RCP Advisors"></a></div>
                <div class="logo-container"><a href="http://www.roundtablehp.com/"><img src="/assets/logos/roundtable.jpg" class="img-responsive img-centered" alt="Roundtable Healthcare Partners"></a></div>
                <div class="logo-container"><a href="http://www.silveroaksp.com/"><img src="/assets/logos/silveroak.png" class="img-responsive img-centered" alt="Silver Oak Service Partners"></a></div>
                <div class="logo-container"><a href="http://www.sterlingpartners.com/"><img src="/assets/logos/sterling.jpg" class="img-responsive img-centered" alt="Sterling Partners"></a></div>
                <div class="logo-container"><a href="http://www.svoco.com/"><img src="/assets/logos/svoboda.png" class="img-responsive img-centered" alt="Svoboda Capital"></a></div>
                <div class="logo-container"><a href="http://www.victoryparkcapital.com/"><img src="/assets/logos/victorypark.png" class="img-responsive img-centered" alt="Vicotry Park"></a></div>
                <div class="logo-container"><a href="http://www.vistria.com/"><img src="/assets/logos/vistria.jpg" class="img-responsive img-centered" alt="Vistria"></a></div>
                <div class="logo-container"><a href="http://waterstreet.com/"><img src="/assets/logos/waterstreet.jpg" class="img-responsive img-centered" alt="Water Street"></a></div>
                <div class="logo-container"><a href="http://www.wppartners.com/"><img src="/assets/logos/windpoint.gif" class="img-responsive img-centered" alt="Wind Point Partners"></a></div>
                <div class="logo-container"><a href="http://www.winonacapital.com/"><img src="/assets/logos/winona.jpeg" class="img-responsive img-centered" alt="Winona Capital Management"></a></div>
                <div class="logo-container"><a href="http://www.wynnchurch.com/"><img src="/assets/logos/wynnchurch.png" class="img-responsive img-centered" alt="Wynnchurch Capital Partners"></a></div>
            </div>
           
        </div>
    </section>

    <!-- About Section -->
    <section id="event" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">PEAC Upcoming Events</h3>
                    
                    <p class="event-desc">The Private Equity Association of Chicago’s founding objectives are to provide opportunities for social networking with industry peers, host educational forums and workshops for professional development, and connect private equity professionals with non-profit and community service groups in the Chicago area.</p>
                    
                    <p class="event-desc">If you are interested in attending or finding out more about the PEAC and our events please contact our Communications Chair, Chris Oberhaus (CMOberhaus@rwbaird.com). Membership in PEAC is open to any member of the Chicago investment community. PEAC’s programs and events are tailored towards pre-MBA professionals working in principal investing roles at private capital firms, including private equity, mezzanine, and BDC investing.</p>
                    <br>
                    <p class="event-desc">
                        <span style="display:block">Upcoming events will be updated as logistics are finalized.</span>
                    </p>
                </div>
            </div>
           
        </div>
    </section>

   

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Let's get in touch</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="https://formspree.io/mwestwood@frontenac.com" method="POST" novalidate>
                        <input type="hidden" name="_cc" value="alieberman@roundtablehp.com" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" name="phone" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea type="text" name="message" class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" value="Send" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; PEAC 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                       <!--  <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <!-- <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>

    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="/assets/portfolio/roundicons-free.png" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Heading</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="/assets/portfolio/startup-framework-preview.png" alt="">
                                <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="/assets/portfolio/treehouse-preview.png" alt="">
                                <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="/assets/portfolio/golden-preview.png" alt="">
                                <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="/assets/portfolio/escape-preview.png" alt="">
                                <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="/assets/portfolio/dreams-preview.png" alt="">
                                <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
