table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
}

.dataTables_wrapper{
    overflow: auto;
}

#events {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f6f6f6;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100px;
    overflow: auto;
}

.download-form{
    border: 3px solid #9E9E9E;
    padding: 10px;
    width: 215px;
    margin-left: 20%;
    display: inline-block;
    text-align: center;
}

.download-form-title{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
   font-size: 20px;

}

.dataTables_length{
    display: none;
}

.dataTables_paginate{
    display: none;
}

.destroy-selected{
    display: block;
    padding: 15px;
    color: white;
    background-color: #9e9e9e;
    width: 150px;
    float: right;
    text-align: center;
}

.activities-list{
    text-align: left;
    padding: 0 200px;
}